#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.img {
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin: 5px;
}
img {
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
/*
img:hover {
  transform: scale(1.05);
}
*/

#btns {
  margin-bottom: 25px;
}

p {
  margin: 0;
}

#allImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.cardWithName:hover {
  transform: scale(1.06);
  cursor: pointer;
  /*transform: rotateY(90deg);*/
}

.cardContainer {
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  perspective: 1000px;
  height: 405.63px;

  /*
  &.flipped {
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
  }
  */
}
.cardWithName {
  border-radius: 25px;
  border: 1px solid white;
  overflow: hidden;
  background-image: linear-gradient(
    rgb(3, 151, 171),
    rgb(10, 50, 60),
    rgb(200, 155, 60),
    rgb(10, 50, 60),
    rgb(10, 50, 60) /*rgb(3, 151, 171)*/
  );

  transform-style: preserve-3d;
  transition: 0.5s;
}

.cardWithName.flipped {
  transform: rotateY(180deg);
}

#backCardImg {
  width: 200px;
  height: 405.63px;
  margin: none;
  transform: rotateY(180deg);
}

.scores {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.cardBack {
  display: none;

  &.flipped {
    display: block;
  }
}

/*

.cardWithName.flipped .cardBack {
  transform: rotateY(180deg);
  visibility: visible;
}

.cardWithName.flipped .cardContainer {
  transition: 250ms;
  transform: rotateY(90deg);
}

.cardWithName.flipped {
  transform-style: preserve-3d;
  transition: 500ms;
  transform: rotateY(180deg);
}

.cardWithName.unflipped .cardBack {
  transform: rotateY(0deg);
  visibility: visible;
}

.cardWithName.unflipped .cardContainer {
  transition: 500ms;
  transform: rotateY(0deg);
}

.cardWithName.unflipped {
  transform-style: preserve-3d;
  transition: 500ms;
  transform: rotateY(0deg);
}

*/
