#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*
background-image: linear-gradient(
    rgb(3, 151, 171),
    rgb(10, 50, 60),
    rgb(200, 155, 60),
    rgb(10, 50, 60),
    rgb(10, 50, 60) rgb(3, 151, 171)
  );
*/

/* Add styles to create the flipping card effect */

.cardWithName {
  width: 230px;
  height: 410.63px;

  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  border-radius: 25px; /* Apply border-radius to the entire card */
  border: 1px solid white;
  background-image: url("../public/lol-card-back.jpg");
  background-size: 230px 430.63px;
  transform-style: preserve-3d;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cardWithName.flipped .card {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;

  position: absolute;
  backface-visibility: hidden;
}

.cardFront {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 25px;
  margin: 0;
  padding: 15px;
  z-index: 1;
}

.cardBack {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transform: rotateY(180deg);
  z-index: 0;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
img {
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}

#allImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 55px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

#backCardImg {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
  font-size: large;
}

.gameOver {
}

.gameOverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -25%); /* Centering trick */
  width: 600px; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  z-index: 2; /* Higher z-index to appear on top of other elements */
  /* Initially hidden */
}

.displayGameOver {
  /* Additional styling for the Game Over text */
  font-size: 48px;
  color: white;
}
.hide {
  display: none;
}

.displayScore {
  transform: translate(0, -200px);
}
